@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{

    bool isLoggedIn = false;
    if (Context.Request.Cookies.TryGetValue("session", out string value))
    {
        isLoggedIn = true;
    }
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CipherDrop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CipherDrop.styles.css" asp-append-version="true" />    
</head>
<body>


<input id="RequestVerificationToken" type="hidden" value="@requestToken" />
    <header>
        <nav class="navbar navbar-expand-lg " style="max-height: 50px">
            <div class="container">
                <a class="navbar-brand font-weight-bold"asp-area="" asp-controller="Home" asp-action="Index">CipherDrop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                         @if (isLoggedIn)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Vault" asp-action="home">Vault</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Utilities</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Logout", "Login")">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>    
     <div class="site-loader-container" id="site-loader" style="display: none">
        <div class="site-loader"></div>
    </div>  
    <div>       
  
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>    
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 999999">
        <div class="toast-container"></div> 
    </div>
    <footer class="footer text-muted">
        @* <div class="container">
            &copy; 2024 - CipherDrop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> *@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>    
    <script src="~/js/utils.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     @RenderSection("Scripts", required: false)
</body>
</html>
