
@{
    ViewData["Title"] = "Dashboard";
}
<div class="container mt-5">
    <section class="row">
        <div class="col-md-12">
          <div  class="justify-content-between d-flex">
            <h2 id="dashboard-title" class="text-center mb-4">Welcome Back</h2>
            <div class="d-flex mr-5">
                <a href="/Dashboard/Send">
                    <button class="bg-dark text-white btn btn-primary" >Add Cipher</button>
                </a>
            </div>
        </div>
    </section>

    <section class="row mt-2">     
    <div class="col-md-4 mb-4">
            <div class="card p-3">
                <div class="card-body">
                    <h5 class="card-title">Sent Ciphers</h5>
                    <p class="card-subtitle">See ciphers you have sent.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card p-3">
                <div class="card-body">
                    <h5 class="card-title">Vault</h5>   
                    <p class="card-subtitle">Access the encrypted vault.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card p-3">
                <div class="card-body">
                    <h5 class="card-title">Settings</h5>
                    <p class="card-subtitle">This is a sample card content.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <h2 class="mt-5">@TempData["ActivityTitle"]</h2>
        <div class="col-md-12">
            <div class="card-offset mt-4 p-3">
                <table class="text-white table rounded" id="activity-table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">User</th>
                            <th scope="col">Area</th>
                            <th scope="col">Action</th>                  
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>                        

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.UserName</td>
                                <td>@item.Area</td>
                                <td>@item.Action</td>                        
                                <td>@item.CreatedAt</td>
                                <td>@item.Type</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
         </div>
    </section>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js" integrity="sha512-a+SUDuwNzXDvz4XrIcXHuCf089/iJAoN4lmrXJg18XnduKK6YlDHNRalv4yd1N40OKI80tFidF+rqTFKGPoWFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/auth.js" asp-append-version="true"></script>
    <script>
        CheckAuth({ email: "@TempData["Email"]", role: "@TempData["Role"]", name: "@TempData["Name"]" });
    </script>
    <script>
        const name = localStorage.getItem("name");
        const role = localStorage.getItem("role");
        if(name != null && role != null){
            $("#dashboard-title").text("Welcome Back, " + name);
        } else {
            window.location.href = "/Login";
        }

        const activityTableBody = $("#activity-table tbody");
        let activityScrollTimeout = null;
        let noMoreActivityData = false;
        let activityLoading = false;

        window.addEventListener("scroll", function(){
            // Load more activity data when the user scrolls to the bottom and more than 30 items are displayed
            if (window.scrollY + window.innerHeight >= document.body.scrollHeight && !noMoreActivityData && activityTableBody.find("tr").length >= 30) {
                if (activityScrollTimeout) clearTimeout(activityScrollTimeout);

                activityScrollTimeout = setTimeout(async function() {
                    const lastId = activityTableBody.find("tr:last-child td:first-child").text();
                    if (activityLoading || lastId === "") return;
                    activityLoading = true;
                    const response = await RequestHandler({ url: "/Dashboard/GetActivity/" + lastId, method: "GET" });
                    activityLoading = false;
                    if (!response.success) return;
                    if (response.data.length === 0) {
                        noMoreActivityData = true;
                        return;
                    }
                    
                    let activityDataHtml = response.data.map(activity => `
                        <tr>
                            <td>${activity.id}</td>
                            <td>${activity.userName}</td>
                            <td>${activity.area}</td>
                            <td>${activity.action}</td>
                            <td>${new Date(activity.createdAt).toLocaleString()}</td>
                            <td>${activity.type}</td>
                        </tr>`).join('');

                    activityTableBody.append(activityDataHtml);
                }, 100);
            }
        });
    </script>

}